.nav-menu {
  > .page_item {
    margin: 0.5rem 0 0.5rem 0.5rem;
    display: inline-block;
  }

  > .page_item > a {
    color: #fff;
    display: block;
    background-color: #2e2e2e;
    height: 5rem;
    width: 5rem;
  }

  > .page_item > a:hover {
    background-color: #505050;
  }

  @media (min-width: $screen-md-min) {
    text-align: center;

    > .page_item {
      float: none;
      line-height: 2;
      margin: 0 $mds-main-nav-ft-size;
    }

    > .page_item > a {
      background: none;
      color: #000;
      display: inline;
      font-size: $mds-main-nav-ft-size;
      letter-spacing: $mds-main-nav-ft-size / 3;
      text-transform: uppercase;
      font-family: Palatino, "URW Palladio L", serif;
      border-bottom: 0 #ad0202 solid;
    }

    > .page_item > a > .lastletter {
      letter-spacing: 0;
    }

    > .page_item > a:hover {
      transition: border-bottom 0.2s ease;
      background: none;
      border-bottom-width: $sm-fat-line;
    }
  }
}