.nav-menu {
  > .page_item {
    margin: 0.5rem 0 0.5rem 0.5rem;
    display: inline-block;
  }

  > .page_item > a {
    color: #fff;
    display: block;
    background-color: #2e2e2e;
    height: 5rem;
    width: 5rem;
  }

  > .page_item > a:hover {
    background-color: #505050;
  }

  @media (min-width: $screen-md-min) {
    text-align: center;

    > .page_item {
      float: none;
      margin: 0;
    }

    > .page_item > a {
      background: none;
      color: #000;
      display: inline;
    }
  }
}