$hdr-bg-clr: #e6e6e6;
$hdr-txt-clr: #000000;
$title-ft-size: 1rem;
$title-clr: #000;

// General
$sm-fat-line: 0.3rem;

// From _s
$screen-md-min: 600px;

// Site Title
$sms-site-title-ft-size: 1rem;
$mds-site-title-ft-size: 2rem;

// Main Navigation Menu
$mds-main-nav-ft-size: 1rem;
$mds-main-nav-bd-size: 0.4rem;