.site-title {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-size: $sms-site-title-ft-size;

  > .link {
    font-weight: 500;
    color: $hdr-txt-clr;
    text-decoration: none;
  }

  @media (min-width: $screen-md-min) {
    padding-bottom: $mds-site-title-ft-size / 2;
    padding-top: $mds-site-title-ft-size / 2;
    font-size: $mds-site-title-ft-size;

    > .link {
      font-family: "New Century Schoolbook", "TeX Gyre Schola", serif;
    }
  }
}