.site-header {
  background-color: $hdr-bg-clr;

  > .site-branding {
    float: right;
  }

  > .site-branding > .site-title {
    margin-bottom: 0;
    margin-top: 0;
  }

  > .main-navigation > .menu-toggle {
    border-radius: 0;
    border-width: 0;
  }

  > .main-navigation > .menu-toggle > .icon {
    height: $title-ft-size;
    width: auto;
  }

  @media (min-width: $screen-md-min) {
    background: none;

    > .site-branding {
      float: none;
      text-align: center;
    }
  }
}