.site-header {
  background-color: $hdr-bg-clr;

  > .site-branding {
    float: right;
  }

  > .site-branding > .site-title {
    margin-bottom: 0;
    margin-top: 0;
    font-size: $title-ft-size;
    line-height: $title-ft-size;
  }

  > .main-navigation > .menu-toggle {
    border-radius: 0;
    border-width: 0;
  }

  > .main-navigation > .menu-toggle > .icon {
    height: $title-ft-size;
    width: auto;
  }

  > .site-branding > .site-title,
  > .main-navigation > .menu-toggle {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}