@import 'settings';

@import 'document-title';
@import 'entry-content';
@import 'main-content';
@import 'main-navigation';
@import 'menu-toggle';
@import 'nav-menu';
@import 'page-container';
@import 'site-branding';
@import 'site-content';
@import 'site-description';
@import 'site-header';
@import 'site-title';
@import 'widget-area';