language: php

php:
  - '7.2'

sudo: required

services:
  - docker

before_install:
  - sudo service mysql stop
  - cd docker
  - docker-compose up --build -d
  - ./scripts/bootstrap

script:
  - phpunit