language: php

php:
  - '7.2'

sudo: required

services:
  - docker

before_install:
  - sudo service mysql stop
  - cd docker
  - docker-compose up --build -d
  - cd ..
  - ./bootstrap

script:
  - phpunit

after_success:
  - git remote add deploy shift-two_matthewslouismarie@ssh-shift-two.alwaysdata.net:~/project.git
  - git push deploy HEAD:master